[advice]
  # don't show how to stage/unstage/discard files
  statusHints = false
  detachedHead = false

[alias]
  # add
  ap = add --patch
  # commit
  ci = commit -v
  cm = commit -m
  ca = commit -v --amend
  # branch
  br = branch
  # checkout
  co = checkout
  # diff
  df = diff
  dc = diff --cached
  dfs = diff --stat
  dcs = diff --cached --stat
  dfw = diff --color-words='(\\w+)|.'
  dcw = diff --cached --color-words='(\\w+)|.'
  last = diff HEAD^
  # log
  lg = log --graph --pretty=format:'%C(yellow)%h%Creset %C(cyan)%an%Creset%C(magenta)%d%Creset %s %C(green)(%cr)%Creset' --date=relative
  lo = log --oneline --decorate
  # reset
  uns = reset HEAD
  unc = reset --soft HEAD^
  # status
  st = status
  sts = status -s

[color]
  ui = auto
  branch = auto
  diff = auto
  grep = auto
  interactive = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
  whitespace = red reverse
[color "diff"]
  frag = magenta reverse
  meta = yellow reverse
  new = green bold
  old = red bold
[color "grep"]
  linenumber = yellow
  match = red reverse
[color "status"]
  added = green
  branch = magenta reverse
  changed = yellow
  nobranch = red reverse
  untracked = red

[diff]
  # diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  mnemonicprefix = true
  # detect renames
  renames = copies

[grep]
  # show line numbers
  lineNumber = true

[instaweb]
  httpd = webrick

[push]
  default = tracking

[user]
  name = Ming-Ho Yee
  email = mh@mhyee.com
[github]
  user = mhyee

[core]
  # don't autoconvert CRLF
  autocrlf = input
  editor = vim
  # force case sensitive, even though Mac is actually case insensitive
  ignorecase = false
  # e (exit less the second time it hits EOF),
  # F (exit if entire file can be displayed on one screen)
  # i (smart case insensitive search) r (display raw control chars)
  pager = less -eFir
  whitespace = cr-at-eol,space-before-tab,trailing-space
